@{
        // 一级列表
}
@model IEnumerable<LinkViewModel>
<ul class="nav nav-tabs">
    @foreach (LinkViewModel link in Model)
    {
        string state = Enum.GetName(typeof(LinkState), link.State);
        <li class="@state">
            <a href="@link.Url" data-toggle="tab">@link.Text</a></li>
    }
</ul>
