@{
    ViewBag.Title = "CreateExcelReportTemlate";
    Layout = "~/Views/Shared/_Layout_NavigationDemo.cshtml";
}

<a target="_blank" href="/Demo/CreateExcelReportTemlateDemo"><h2>CreateExcelReportTemlate</h2></a>
