@{
    ViewBag.Title = "组件Demo";
}
<h2>
    组件Demo</h2>
<ul>
    <li><a target="_blank" href="/Demo/AuthCodeDemo">验证码组件</a> </li>
    <li><a target="_blank" href="/Demo/CreateExcelReportTemlateDemo">创建Excel报表模版</a></li>
    <li><a target="_blank" href="/Demo/ExportDemo">Excel普通报表</a> </li>
    <li><a target="_blank" href="/Demo/DynamicExportDemo">Excel动态报表</a> </li>
    <li><a target="_blank" href="/Demo/AddCommentToExcel">Excel添加批注</a> </li>
    <li><a target="_blank" href="/Demo/ClearCommentInExcel">Excel清除批注</a> </li>
    <li><a target="_blank" href="/Demo/ReadExcelDemo">读取Excel</a> </li>
    <li><a target="_blank" href="/Demo/ReadSiteMapDemo">读取XmlSiteMap</a> </li>
    <li><a target="_blank" href="/Demo/UserNavigationDemo">读取UserNavigation</a> </li>
</ul>
