@using System.Data;
@model DataTable
@{
    DataColumnCollection dataColumns = Model.Columns;
    DataRowCollection dataRows = Model.Rows;
}
<table>
    <thead>
        <tr>
            @foreach (DataColumn column in dataColumns)
            {
                <th>
                    @column.ColumnName
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in dataRows)
        {
            <tr>
                @foreach (DataColumn column in dataColumns)
                {
                    <td>
                        @row[column.ColumnName]
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
