<!DOCTYPE html>
<html>
<head>
    <title>组件Demo &middot; @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css引用 -->
    <link href="/Content/themes/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    @RenderSection("CustomStyle", false)
</head>
<body>
    @RenderBody()
    <!-- js引用 -->
    <script src="/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
